@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #fefefe;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: Cometo;
  src: url("/fonts/TT-Cometus-Variable.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Geekette;
  src: url("/fonts/TT-Geekette-Variable.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Norms;
  src: url("/fonts/TT_Norms_Pro_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Commons;
  src: url("/fonts/TT_Commons_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Commons, Arial, Helvetica, sans-serif;
}
.display_font {
  font-family: Cometo, Commons, sans-serif;
}
.geekette-font {
  font-family: Geekette, Arial, Helvetica, sans-serif;
}
.norms-font {
  font-family: Norms, Arial, Helvetica, sans-serif;
}
